# For admin app
dj-database-url==0.4.2
Django==1.11.3
gunicorn==19.7.1
Pillow==4.2.1
psycopg2==2.7.1
pytz==2017.2
whitenoise==3.3.0
# For client app
Flask==0.12.1
Flask-Bootstrap==3.3.7.1
Flask-SQLAlchemy==2.2
Flask-WTF==0.14.2
passlib==1.7.1
