import ConfigParser
import os


ALLOWED_HOSTS = []

BASE_DIR = os.path.dirname(os.path.dirname(__file__))
CONF_FILE = (os.path.join(BASE_DIR, '../config.ini'))

config = ConfigParser.ConfigParser()
config.read(CONF_FILE)


# Database
# https://docs.djangoproject.com/en/1.11/ref/settings/#databases

DB_ENGINE = config.get('RDB', 'ENGINE')
DB_NAME = config.get('RDB', 'NAME')
DB_USER = config.get('RDB', 'USER')
DB_PASSWORD = config.get('RDB', 'PASSWORD')
DB_HOST = config.get('RDB', 'HOST')
DB_PORT = config.get('RDB', 'PORT')

DATABASES = {
    'default': {
        'ENGINE': DB_ENGINE,
        'NAME': DB_NAME,
        'USER': DB_USER,
        'PASSWORD': DB_PASSWORD,
        'HOST': DB_HOST,
        'PORT': DB_PORT,
    }
}

DEBUG = True
