{% extends "layout.html" %}

{% block title %}
    Chewing - Booking - History
{% endblock %}

{% block content %}
    <div class="container">
        {% if booked %}
        <h2 class="text-center">All My Booking:</h2>
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>Reserve Date</th>
                    <th>Status</th>
                    <th>Restaurant</th>
                    <th>Count Client</th>
                    <th>Comment Client</th>
                    <th>Comment Restaurant</th>
                    <th>Cancel</th>
                </tr>
            </thead>
            <tbody>
                {% for item in booked %}
                <tr>
                    <td>{{ item.reserve_date }}</td>
                    <td>{{ item.status_friendly() }}</td>
                    <td><a href="/restaurant/{{ item.restaurant_id }}">{{ item.restaurant_id__join.name }}</a></td>
                    <td>{{ item.count_client }}</td>
                    <td>{{ item.comment_client }}</td>
                    <td>{{ item.comment_restaurant }}</td>
                    <td>
                        {% if item.status == 4 %}
                        Canceled
                        {% else %}
                        <a href="/booking/cancel/{{ item.id }}" class="btn btn-danger">Cancel</a>
                        {% endif %}
                    </td>
                <tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <h3 class="text-center">Sorry, yours booking history is empty :-(</h3>
        {% endif %}
    </div>
{% endblock %}
