{% extends "bootstrap/base.html" %}
{% block title %}Chewing{% endblock %}
{%- block styles %}
<!-- Bootstrap -->
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
{%- endblock styles %}

{% block navbar %}
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Chewing</a>
        </div>

        <div class="collapse navbar-collapse" id="menu">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('show_list_of_restaurants') }}">List of Restaurants</a></li>
            {% if session.logged_in %}
              <li><a href="{{ url_for('booking_history') }}">Booking History</a></li>
            {% endif %}
            {% if not session.logged_in %}
              <li><a href="{{ url_for('register') }}">Registration</a></li>
            {% endif %}
{#          <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>#}
          </ul>
{% if not session.logged_in %}
            <form class="form-inline navbar-form navbar-right" action="/login" method="POST" >
              {{form.hidden_tag() }}
              <div class="form-group">
                {{ form.email.label }}
                {{ form.email(class_="form-control") }}
                {{ form.password.label }}
                {{ form.password(class_="form-control") }}
              </div>
              <div class="form-group">
                <label class="sr-only" for="exampleInputPassword3">Password</label>
              </div>
                <button class="btn btn-primary"  name="Submit" value="Login" type="Submit">Login</button>
            </form>
{% else %}
    <ul class="nav navbar-nav navbar-right">
        <li><div class="profile-link">Hello Friend! Your profile is <a href="{{ url_for('profile') }}">here</a></span></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
    </ul>
{% endif %}

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
      <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
          <!-- <strong>Title</strong> --> {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

{% endblock %}

{% block content %}
{% endblock %}
