<html>
  <head>
    <link rel="stylesheet" href="/static/css/login.css">
  <head>
  <body>
    <div class="container">
      <h2>Login</h2>
      <form method="post" action="/account/login/">
        {% csrf_token %}
        <div>
          <label for="email">Email</label>
          <input type="email" id="email" name="email">
        </div>
        <div>
          <label for="password">Password</label>
          <input type="password" id="email" name="password">
        </div>
        <div>
          <input type="submit" value="Login">
        </div>
      </form>
      <a href="{% url 'password_reset' %}" >Forgot password?</a>
    </div>
  </body>
</html>

